.drawer-background {
  z-index: 1;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.sidenav {
  height: 100%;
  width: 0;
  padding: 10px 0;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: $color-background;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    display: none;
  }
}
