@import '../../../themes';

.filter {
  background-color: white;
  padding-top: $lg;
  padding-bottom: $lg;
  border-bottom: 1px solid $color-border;

  .filter-content {
    @include container;
    @include flex;
    justify-content: flex-end;

    button-icon {
      span {
        font-size: 1.5rem;
      }
    }
  }
}
