$color-primary: #cd0a0a;
$color-secondary: #801313;
$color-accent: #fae2e2;
$color-subtitle: #848485;
$color-subtitle-hover: #686868;


$color-border : rgba(2, 1, 1, 0.2);
$color-text: #313133;
$color-background: #f1f2f3;
