
.restaurant-list {
  padding-top: $large;
  padding-bottom: $large;

  h3 {
    margin-bottom: $large;
    font-size: 1.5rem;
  }
}

.restaurant-grid {
  display: grid;
  row-gap: 40px;
  column-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
